<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th ng-if="checkModel.totalSize">Total Size</th>
      <th>DL Speed</th>
      <th>Progress</th>
      <th ng-if="checkModel.rateUpload">Upload Rate</th>
      <th ng-if="checkModel.eta">ETA</th>
      <th ng-if="checkModel.uploadedEver">Uploaded</th>
      <th ng-if="checkModel.downloadDir">Dir</th>
      <th ng-if="checkModel.status">Status</th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="torrent in torrents">
      <td>
        {{torrent.name}}
      </td>
      <td ng-if="checkModel.totalSize">
        {{byteCalc(torrent.totalSize)}}
      </td>
      <td>
        {{byteCalc(torrent.rateDownload)}}/s
     </td>
      <td>
        {{percentCalc(torrent.percentDone)}}
      </td>
      <td ng-if="checkModel.rateUpload">
        {{byteCalc(torrent.rateUpload)}}
      </td>
       <td ng-if="checkModel.uploadedEver">
        {{byteCalc(torrent.uploadedEver)}}
      </td>
      <td ng-if="checkModel.eta">
        {{torrent.eta}}
      </td>
      <td ng-if="checkModel.downloadDir">
        {{torrent.downloadDir}}
      </td>
      <td ng-if="checkModel.status">
        {{statusFilter(torrent.status)}}
        </td>
        <td ng-if="checkModel.remove">
          <a ng-click="removeTorrent(torrent.id)">X</a>
      </td>
    </tr>
  </tbody>
</table>
<button type="button" class="btn btn-default" ng-click="refreshList()">Refresh</button>

<button type="button" class="btn btn-warning" ng-click="go('/settings')">Settings</button>
