<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th ng-if="$storage.totalSize">Size</th>
      <th style="text-align: center;"> DL</th>
      <th ng-if="$storage.rateUpload" style="text-align: center;">UL</th>
      <th>Progress</th>
      <th ng-if="$storage.eta">ETA</th>
      <th ng-if="$storage.uploadedEver">Uploaded</th>
      <th ng-if="$storage.downloadDir">Dir</th>
      <th ng-if="$storage.status">Status</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="torrent in torrents">
      <td>
        {{torrent.name}}
       </td>
       <td ng-if="$storage.totalSize">
        {{byteCalc(torrent.totalSize)}}
      </td>
      <td style="text-align: center;">
        {{byteCalc(torrent.rateDownload)}}/s
        </td>
        <td ng-if="$storage.rateUpload" style="text-align: center;">
        {{byteCalc(torrent.rateUpload)}}
      </td>
      <td>
        {{percentCalc(torrent.percentDone)}}
      </td>
       <td ng-if="$storage.uploadedEver">
        {{byteCalc(torrent.uploadedEver)}}
      </td>
      <td ng-if="$storage.eta">
        {{torrent.eta}}
      </td>
      <td ng-if="$storage.downloadDir">
        {{torrent.downloadDir}}
      </td>
      <td ng-if="$storage.status">
        <div ng-bind-html="statusFilter(torrent.status)" style="padding-left: 13px;"></div>
      </td>
        <td>
          <button type="button" ng-click="torrentStopStarter(torrent.id, torrent.status)" class="btn btn-default btn-xs" style="border-color: white;">
              <div ng-bind-html="stopStartFilter(torrent.status)"></div>
          </button>
        </td>
        <td>
          <button type="button" ng-click="removeTorrent(torrent.id)" class="btn btn-default btn-xs" style="border-color: white;">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </td>
    </tr>
  </tbody>
</table>
  <button type="button" ng-click="refreshList()" class="btn btn-default btn-xs" style="border-color: white;">
    <span class="glyphicon glyphicon-refresh"></span>
  </button>
