<button type="button" class="btn btn-warning" ng-click="go('/')">Torrents</button>
    <div id="settings">
     <div class="btn-group">
        <button type="button" class="btn btn-primary" ng-model="checkModel.downloadDir" btn-checkbox>Download Dir</button>
        <button type="button" class="btn btn-primary" ng-model="checkModel.rateUpload" btn-checkbox>UL Speed</button>
        <button type="button" class="btn btn-primary" ng-model="checkModel.eta" btn-checkbox>ETA</button>
        <button type="button" class="btn btn-primary" ng-model="checkModel.totalSize" btn-checkbox>Size</button>
        <button type="button" class="btn btn-primary" ng-model="checkModel.uploadedEver" btn-checkbox>Uploaded</button>
      </div>
      <button type="button" class="btn btn-success" style="display: inline;" ng-click="settingsBuilder()">Update</button>
    </div>
   <div id="ipchange">
      <input type="text" ng-model="selectedIp" style="display: inline; width: 67%;" typeahead="ip for ip in ips | filter:$viewValue | limitTo:8" class="form-control">
      <button type="button" class="btn btn-success" style="display: inline;" ng-click="changeIp()">Connect</button>
  </div>
  <br />
   <table class="table" style="background: rgba(24, 117, 31, 0.34);">
    <tr>
      <th>
        Uptime
      </th>
       <th>
        Downloaded
      </th>
     <th>
      Uploaded
      </th>
    </tr>
    <tr>
      <td>
        {{hoursCalc(stats.secondsActive)}}
      </td>
      <td>
        {{byteCalc(stats.downloadedBytes)}}
      </td>
      <td>
        {{byteCalc(stats.uploadedBytes)}}
      </td>
    </tr>
  </table>

 <table class="table" style="background: rgba(24, 117, 31, 0.34);">
    <tr>
      <th>
        DHT
      </th>
      <th>
        PEX
      </th>
     <th>
      Autostart
      </th>
     <th>
      Download Limit
      </th>
      <th>
      Upload Limit
      </th>
      <th>
      Free Space
      </th>
    </tr>
    <tr>
       <td>
         {{abler(settingList['dht-enabled'])}}
      </td>
      <td>
         {{abler(settingList['pex-enabled'])}}
      </td>
      <td>
         {{abler(settingList['start-added-torrents'])}}
      </td>
      <td>
      {{settingList['speed-limit-down']}}KB/s {{abler(settingList['speed-limit-down-enabled'])}}
      </td>
      <td>
      {{settingList['speed-limit-up']}}KB/s {{abler(settingList['speed-limit-up-enabled'])}}
      </td>
      <td>
        {{byteCalc(settingList['download-dir-free-space'])}}
      </td>
    </tr>
  </table>

<pre>{{stats}}</pre>
<pre>{{settingList}}</pre>
