<div class="header">
  <h3 class="text-muted">angulatransmission</h3>
  <button type="button" style="float: left;margin-right: 1%;margin-top: 0.2%;" class="btn btn-default btn-sm" ng-click="settingsToggle()">
     <span class="glyphicon glyphicon-wrench"></span>
   </button>
    <div id="settings">
    <span ng-if="setting">
     <div class="btn-group">
        <button type="button" class="btn btn-primary" ng-model="checkModel.downloadDir" btn-checkbox>Download Dir</button>
        <button type="button" class="btn btn-primary" ng-model="checkModel.rateUpload" btn-checkbox>Upload Speed</button>
        <button type="button" class="btn btn-primary" ng-model="checkModel.eta" btn-checkbox>ETA</button>
        <button type="button" class="btn btn-primary" ng-model="checkModel.totalSize" btn-checkbox>Total Size</button>
      </div>
      <button type="button" class="btn btn-success" style="display: inline;" ng-click="settingsBuilder()">Update</button>
    </div>
  </span>
    <span ng-if="setting">
   <div id="ipchange">
      <input type="text" ng-model="selectedIp" style="display: inline; width: 67%;" typeahead="ip for ip in ips | filter:$viewValue | limitTo:8" class="form-control">
      <button type="button" class="btn btn-success" style="display: inline;" ng-click="changeIp()">Connect</button>
  </div>
  </span>
</div>
<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th ng-if="checkModel.totalSize">Total Size</th>
      <th>DL Speed</th>
      <th>Progress</th>
      <th ng-if="checkModel.rateUpload">Upload Rate</th>
      <th ng-if="checkModel.eta">ETA</th>
      <th ng-if="checkModel.downloadDir">Dir</th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="torrent in torrents">
      <td>
        {{torrent.name}}
      </td>
      <td ng-if="checkModel.totalSize">
        {{byteCalc(torrent.totalSize)}}
      </td>
      <td>
        {{byteCalc(torrent.rateDownload)}}/s
     </td>
      <td>
        {{percentCalc(torrent.percentDone)}}
      </td>
      <td ng-if="checkModel.rateUpload">
        {{torrent.rateUpload}}
      </td>
      <td ng-if="checkModel.eta">
        {{torrent.eta}}
      </td>
      <td ng-if="checkModel.downloadDir">
        {{torrent.downloadDir}}
      </td>

    </tr>
  </tbody>
</table>
<button type="button" class="btn btn-warning" ng-click="refreshList()">Refresh</button>
<!-- <progressbar max="max" value="dynamic"><span style="color:black; white-space:nowrap;">{{dynamic}} / {{max}}</span></progressbar> -->
<br />
<br />
 <input type="file" id="fileInput">
